NameVirtualHost *:8080

<VirtualHost *:8080>
ServerName default-do
DocumentRoot /var/www/html
    <Directory "/var/www/html">
        Options All
        AllowOverride All
        Order Allow,Deny
        Allow from all
    </Directory>
</VirtualHost>
